body {
    margin: 0px;
    padding: 0px;
}

.timer-container {
    display: flex;
    position: absolute;

    justify-content: center;
    align-items: center;
    width: calc(100% - 230px);
    height: 84%;
    background-color: rgb(189, 2, 2);
    top: 16%;
    left: 230px;
}

.timer-container > span {
    position: fixed;
}

.timer-pad {
    position: absolute;

    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 800%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.settings-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 16%;
    background-color: rgb(168, 168, 90);
}

.control-panel {
    display: flex;

    width: 230px;
    height: 100%;
    background-color: yellow;
}

.scramble-panel {
    display: flex;

    width: calc(100% - 230px);
    height: 16%;
    background-color: rgb(139, 139, 139);
}

.main {
    display: flex;
    position: absolute;

    z-index: 1;


    height: 100%;
    width: 100%;
}

.settings-button {
    border: 1px solid #7c7c7c;
    background-color: #7c7c7c;
    font-size: 85%;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.settings-button > img {
    width: 60px;
    height: 60px;


    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

.settings-button:hover {
    border: 1px solid red;
}

.settings-window {
    position: absolute;

    background-color: none;
    width: 65%;
    height: 80%;

    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    z-index: 2;
}

.settings-window > div {
    border-radius: 10px;
}

.window-title {
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 8%;

    background-color: rgb(53, 103, 103);
}

.window-title > span {
    font-size: 200%;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 1%;
}

.window-title > button {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 0px;
    width: 59px;
}

.window-title > button > img {
    width: 59px;
}

.settings {
    position: absolute;

    top: 8%;

    border-radius: 10px;



    width: 100%;
    height: 92%;
    background-color: blue;
}
